<!DOCTYPE html>
<html>
<div id="container">
	<head>
		<title>Productiv</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

		<link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
		<!-- load scripts -->
		<script src="/static/scripts/lib/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/static/scripts/home.js"></script>
	</head>

	<body>
		<div class="navbar">
			<div class="navbar-header">
				<h1 class="logo-header">Productiv</h1>
			</div>
			<center>
				<div class="navbar-collapse collapse" id="navbar-main">

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/account/logout" class="navbar-text">Logout</a></li>
					</ul>
				</div>
			</center>
		</div>
		<div class="modal-body row">
			<div class="col-md-9">
				<!-- First column -->

				<div class="tasks-box" id="tasks-box">
					<div class="row header-row">
						<h2 id="task-header"><b>Welcome <%= user %>.</b></h2>
					</div>

					<div class="row header-row">
						<div class="col-md-4">
							<input type="submit" value="Previous Tasks" class="btn btn-md btn-info task-toggle-btn" id='previous-task-button'/>
						</div>
						<div class="col-md-4">
							<input type="submit" value="Today's Tasks" class="btn btn-md btn-info task-toggle-btn" id='today-task-button'/>
						</div>
						<div class="col-md-4">
							<input type="submit" value="Future Tasks" class="btn btn-md btn-info task-toggle-btn" id='future-task-button'/>
						</div>
					</div>
					<div id="task-item-div">
						Loading...
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<!-- Second column -->
				<button type="button" class="btn btn-lg btn-success" style="width: 97%" id="add-task-button">
					Add New Task
				</button>
				<br><br>
				<div class="tasks-box" id="tasks-box">
					<h2>Filters</h2>
					<i><b>NOTE</b> - filters stack on top of each other</i> <br><br>
					Complete
					<select id="complete-filter">
						<option value="All">All</option>
						<option value="Complete">Complete</option>
						<option value="Incomplete">Incomplete</option>
					</select>
					<br><br>
					Priority
					<select id="priority-filter">
						<option value="All">All</option>
						<option value="High">High</option>
						<option value="Medium">Medium</option>
						<option value="Low">Low</option>
					</select>
					<br><br>
					Category
					<select id="category-filter">
						<option value="All">All</option>
						<option value="School">School</option>
						<option value="Work">Work</option>
						<option value="Personal">Personal</option>
					</select>

					<br><br>
					<div style="text-align: center">
						<button type="button" class="btn btn-md btn-primary" style="width: 75%;margin:auto" id="apply-filter-button">
							Apply Filters
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- modal for adding new question -->
	<div class="modal" style="display:none">
		<div class="modal-area">
			<br>
			<h2 class="modal-title">Add a task</h2>
			<form id="add-task-form">
				<p class='login-input'>
					<b>Description*</b>
				</p>
				<input type="text" class ="form-control" name="description" id="description-input" placeholder="description" />
				<p class='login-input'>
					<b>Deadline</b>
				</p>
				<input type="date" class ="form-control" name="deadline" id="deadline-input"/>
				<p class='login-input'>
					<b>Priority</b>
				</p>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" id="test1">
					<label class="btn btn-danger">
						<input type="radio" name="priority" id="option1" value="High"> High
					</label>
					<label class="btn btn-warning active">
						<input type="radio" name="priority" id="option2" value="Medium" checked> Medium
					</label>
					<label class="btn btn-success">
						<input type="radio" name="priority" id="option3" value="Low"> Low
					</label>
				</div>
				<br>
				<p class='login-input'>
					<b>Category</b>
				</p>
				<fieldset>
					<p>
						<select name="category" id = "category-input">
							<option value = "School">School</option>
							<option value = "Work">Work</option>
							<option value = "Personal">Personal</option>
						</select>
					</p>
				</fieldset>
				<p class='login-input'>
					<b>Collaborators</b> <br> (Enter each on a new line)
				</p>
				<textarea class="form-control status-input" id="collaborators-input" rows="3" style="resize:none;" placeholder="collaborators"></textarea>
				<br>
				<input type="submit" value="Add Task" class="btn btn-lg btn-info custom-btn" id='submit-task-button'/>
				<button type="button" class="btn btn-lg btn-primary custom-btn" id="cancel-task-button"/>
				Cancel
			</button>
			<p class="error-text" id="err-message">
				<!-- Filled in IF there is an error -->
			</p>
		</form>
	</div>
</div>
</body>

</div>
</html>

