<!DOCTYPE html>
<html>
  <div id="container">
    <head>
      <title>Productiv</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
      <!-- load scripts -->
      <script src="/static/scripts/lib/jquery.min.js"></script>
      <script src="/static/scripts/login.js"></script>
    </head>

    <body>
      <h1 class="logo">Productiv</h1>
      <p class="centered-text"> 
        Productiv is the premier productivity manager. Manage your tasks with ease!
      </p>
      <div class='login-box'>
        <h2 class='form-title' id="form-title">Login</h2>
        <form class='login-signup-form' id="login-signup-form">
          <p class='login-input'>
            Email<br/>
          </p>
          <input type="text" class ="form-control" name="email" id="email-input"/> <br/>
          <p class='login-input'>
            Password<br/>
          </p>
          <input type="password" class ="form-control" name="password" id="password-input"/> <br/>
          <input type="submit" value="Login" class="btn btn-lg btn-primary custom-btn" id='submit-button'/>
        </form>
        <button type="button" class="btn btn-lg btn-info custom-btn" id="toggle-button">
          Sign Up Instead
        </button>
      </div>

      <p class="error-text" id="err-message">
        <!-- Filled in IF there is an error -->
      </p>
    </body>

    <footer>
      <p>
        CIS 197 Final Project by Rahul Kooverjee
      </p>
    </footer>
  </div>
</html>
