/*
 * Self explanatory - defines the CSS needed for the project
 *
 * Author: Rahul Kooverjee for his CIS 197 Final Project Fall 2018
 *
 */


/*
-----------------------------------------------------------------------------------------------------
OVERRIDE SOME DEFAULT CSS AND BOOSTRAP STYLES
-----------------------------------------------------------------------------------------------------
*/
body {
	background-color: #eaf2ff;
	margin: 0px;
	padding: 0;
	height: 100%;
	text-align: center;
}

.form-control {
	width: 50%;
	margin: auto;
	font-size: 14pt;
}

/*
-----------------------------------------------------------------------------------------------------
STYLES FOR ELEMENTS I DEFINED MYSELF
-----------------------------------------------------------------------------------------------------
*/
.logo {
	margin-top: 0px;
	background: #315da5;
	text-align: center;
	font-size: 60pt;
	color: #ffc402;
	font-style: italic;
	font-weight: 700;
}

.form-title {
	font-size: 35pt;

}

.login-input {
	font-size: 15pt;
}

.centered-text {
	margin-top: 20px;
	text-align: center;
	width: auto;
	margin: auto;
	font-size: 22pt;
}

.login-box {
	width: 750px;
	height: auto;
	margin: 20px auto;
	border: 3px solid #315da5;
	border-radius: 20px;
	background: #cfdff9;
}

.custom-btn {
	width: 33%;
	margin: auto;
	margin-bottom: 15px;
}

.error-text {
	font-size: 18pt;
	color: red;
	font-weight: 700;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  background-color: rgba(0,0,0,.5);
}

.modal > .modal-area {
	border-radius: 20px;
	background-color: #eaf2ff;
	width: 60%;
	height: auto;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}

.modal-title {
	font-size: 35pt;
}

/*
-----------------------------------------------------------------------------------------------------
STYLES SHOWING TASKS
-----------------------------------------------------------------------------------------------------
*/
.tasks-box {
	background-color: white;
	height: auto;
	width: 97%;
	margin: auto;
	border: 2px solid #3b5998;
	border-radius: 5px;
	text-align: left;
	padding-left:5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.header-row {
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.task-toggle-btn {
	width: 90%;
}

.task-item {
	background: #f9fbff;
	height: auto;
	width: 97%;
	margin: auto;
	border: 2px solid #8b9dc3;
	border-radius: 5px;
	text-align: left;
	padding-top: 10px;
	margin-botton:10px;
	padding-top:5px;
	padding-bototm:5px;
	margin-top: 10px;
} 

/* TODO */


.task-item-content {
	margin-left: 5px;	
	font-weight: 400;
}

.task-description {
	margin-left: 5px;	
	font-weight: 500;
}
.task-item-controls {
	background: #dfe3ee;
	padding: 5px;
}

.task-item-control-btn {
}

.task-next-prev-btn {
	width: 15%;
	margin-top: 10px;
}

.task-status {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 12pt;
}
.task-status-row {
	margin-left: -14px;
}


/*
-----------------------------------------------------------------------------------------------------
STYLES FOR THE HEADER / NAV-BAR
-----------------------------------------------------------------------------------------------------
*/
.navbar {
	height: 60px;
	background-color: #315da5;
	border-radius: 0px
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #264a84;
	height: 58px;
	color: #ffc402;
	margin-top: 0px;
}

.logo-header {
	text-align: left;
	font-size: 35pt;
	color: #ffc402;
	font-style: italic;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 5px
}

.navbar-text {
	margin-top: 2px;
	font-size: 14pt; 
	font-weight: 550;
	color: #ffc402
}
